{
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "d3": false,
    "webvowl": false,
    "module": false,
    "require": false
  },
  "rules": {
    "no-bitwise": 2,
    "eqeqeq": 2,
    "guard-for-in": 2,
    "no-use-before-define": [
      2,
      {
        "functions": false
      }
    ],
    "no-caller": 2,
    "no-new": 2,
    "no-undef": 2
  }
}
